.lumbo_logo {
    font-family: 'Indie Flower', cursive;
}

.footer_service {
    font-size: .9rem;
}

.footer_all {
    text-align: center;  
    margin-top: 2rem;
}

.header_all {
    text-align: center; 
    margin: 2rem 0;
}